* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: lightgray
}

.particulas {
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: 
    radial-gradient(circle at 10% 20%, #63b3f5, 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, #013e70, 0%, transparent 20%),
    #030303;
}

.menu nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    gap: 3rem;
}

.menu ul {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
    color: lightgray;
}

.menu a::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #013e70, #63b3f5);
    transition: width 0.2s ease;
}

.menu a:hover::after {
    width: 100%;
}

.aboutme {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.aboutme .perfil {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgb(99, 179, 245, 0.3);
    border-radius: 50%;
    border: 4px solid rgb(115, 116, 117, 0.2);
}

.aboutme h1 {
    font-size: 3rem;
    color: #63b3f5;
    font-weight: bold;
    margin: 20px 0;
}

.aboutme h2 {
    font-size: 1.5rem;
}

/*  IDEIA FUTURA (ANIMAÇÃO DE TYPEWRITTER NO NOME)
@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255, 255, 255, 0.75);}
    to{border-right-color: transparent;}
  } */

#perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 900px;
    margin-left: 100px;
    border-radius: 16px;
    border: 1px solid rgb(115, 116, 117, 0.2);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.aboutme div p {
    text-align: center;
    font-size: 2rem;
}


.projects {
    min-height: 100vh;
}

.projects h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.projects img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .projects-card {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        backdrop-filter: blur(5px);
        border: 1px solid rgb(115, 116, 117, 0.2);
        overflow: hidden;
    }

    .projects-card:hover {
        box-shadow: 0 10px 20px rgb(99, 179, 245, 0.3);
        transform: translateY(-10px) scale(1.03);
        transition: all 0.4s ease;
        cursor: pointer
    }

  .projects-card-text{
    padding: 1.5rem;
  }

    .projects-card p {
        color: rgb(226, 232, 240, 0.8);
        line-height: 1.25rem
    }

    footer {
        background-color: rgb(7, 8, 10, 0.75);
        text-align: center;
    }

    footer img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin: 10px 10px;
    }

    footer img:hover {
        transform: scale(1.1);
        transition: all 0.4s ease;
        cursor: pointer;
    }

    footer p {
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(226, 232, 240, 0.8);
        margin: 15px 0;
    }