@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  background-color: black;
  color: lightgray;
  scroll-behavior: smooth;
}

:root {
  --primary: #00adb5;
  --secondary: #007c85;
  --tertiary: #6c5ce7;
  --dark: #0f0f0f;
  --moreDark: #1a1a1a;
  --glass: rgba(255, 255, 255, 0.1);
}

.particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: radial-gradient(circle at 10% 20%, #63b3f5, 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, #013e70, 0%, transparent 20%), #030303;
}

.menu nav {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  gap: 3rem;
}

.menu ul {
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
  color: lightgray;
}

.menu a::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #013e70, #63b3f5);
  transition: width 0.2s ease;
}

.menu a:hover::after {
  width: 100%;
}

.aboutme {
  display: flex;
  align-items: center;
  min-height: 100vh;
}


.aboutme h1 {
  font-size: 3rem;
  color: #63b3f5;
  font-weight: bold;
  margin: 20px 0;
  width: 0;
  animation: typing-h1 3s steps(25, end) forwards, blink 0.75s step-end infinite;
}

.aboutme h2 {
  font-size: 1.5rem;
  width: 0;
  animation: typing-h2 2.5s steps(25, end) 3.2s forwards,
    blink 0.75s step-end infinite;
}

#perfil {
  margin-left: 35px;
}
.nome,
#perfil h2 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #00ffcc;
}

@keyframes typing-h1 {
  from {
    width: 0;
  }
  to {
    width: 79%;
  }
}

@keyframes typing-h2 {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00ffcc;
  }
}

.perfil {
  width: 500px;
  height: 500px;
  box-shadow: 0 0 20px rgb(99, 179, 245, 0.3);
  border-radius: 50%;
  border: 4px solid rgb(115, 116, 117, 0.2);
  position: righ;
}

#sobre {
  min-height: 100vh;
  text-align: center;
  padding-top: 100px;
}

#sobre h1 {
  font-size: 3rem;
  color: #63b3f5;
  font-weight: bold;
  margin: 20px 0;
  margin-bottom: 30px;
}

.sobre-mim {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  min-height: 50dvh;
  max-width: 75dvw;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid rgb(115, 116, 117, 0.2);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}

.sobre-mim p {
  text-align: center;
  font-size: 2rem;
}

.projects {
  min-height: 100dvh;
  padding-top: 100px;
}

.projects h1 {
  color: #63b3f5;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 50px 0;
}

.projects .carousel-item:hover {
  transform: scale(1.03);
  transition: all 0.4s ease;
  cursor: pointer;
}

.projects .carousel-inner {
  margin-bottom: 100px;
}

footer {
  background-color: rgb(7, 8, 10, 0.75);
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

footer img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 10px 10px;
}

footer img:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  cursor: pointer;
}

footer p {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(226, 232, 240, 0.8);
  margin: 15px 0;
}

footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}